@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* box-sizing: border-box; */
}

.quiz-container {
  width: 100%;
  max-width: 80%;
  height: 90vh;
  padding-bottom: 1em;
  padding: 0 15px 15px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 1em;
}

.header {
  width: 100%;
  height: 80px;
  padding: 20px 10px;
  padding-bottom: 2em;
  border-bottom: 2px solid #dddddd;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header button {
  background-color: #c2bdbd;
  border: none;
  font-size: small;
  margin-left: 10px;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
}

.quiz-container .questions {
  padding: 10px 1em;
}

ul li {
  list-style: none;
}

.question h4 {
  margin-top: 0;  /* Removed negative margin */
  margin-bottom: 1em;
  font-size: 16px;
}

ul {
  list-style-type: none;
}


.option-div {
  display: flex;
}

.bottom-buttons {
  display: flex;
  margin: auto;
  text-align: center;
  justify-items: center;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4em;
  align-items: center;
}

.btn {
  width: 6em;
  color: #ffffff;
  display: block;
  padding: 10px;
  background-color: #9c13be;
  border: none;
}

.que-options {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

.options {
  font-size: 16px;
  margin-left: 0;  /* Adjusted to prevent large negative margin */
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: left;
  flex-direction: row;
  word-wrap: break-word;
  margin-left: -29.5em;
}

/* Styling for radio buttons */
input[type="radio"] {
  margin-inline-start: 0;  /* Adjusted to prevent large negative margin */
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  text-align: left;
  margin-left: -30em;
}

.testMainPage {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 1.2em;
  background-color: #999898;
}

.nexted-section-btn {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: #070594;
  color: #ffffff;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
  row-gap: 15px;
  margin-left: 20px;
}

.pagination-circle {
  width: 29px;
  height: 28px;
  border-radius: 50%;
  color: #e2dcdc;
  background-color: #7e7c7c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.answered {
  background-color: purple;
  color: #ffffff;
}

.unanswered {
  background-color: #424141;
  color: white;
}

/* TestIntroPage styling */
.testIntroPageBox {
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-area {
  padding-left: 45px;
}

.content-area ul li {
  list-style-type: circle;
}

.content-area ul {
  padding-left: 15px;
}

.head-intro {
  width: 100%;
  color: #24051b;
  text-transform: uppercase;
  text-align: left;
  align-content: flex-start;
  border-bottom: 2px solid #9c13be;
  margin-bottom: 25px;
  margin-top: 30px;
  font-weight: 700;
}

.head-intro h2 {
  color: #460634;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}

.flex {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.start-btn {
  margin-top: 3em;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background-color: #9c13be;
  text-align: left;
}

.side-oval-shape {
  display: block;
  width: 500px;
  padding: 0;
  margin: 0;
  background-color: #f79de5;
  border-radius: 44% 0 0 44%;
  margin-inline-end: -150px;
  top: -10%;
}

.hide-on-desktop {
  display: none;
}

.redirect {
  color: blue;
  font-weight: 600;
}

/* Media query to maintain the size of pagination circles */
@media screen and (max-width: 768px) {
  .quiz-container {
    max-width: 100%;
    /* height: 150vh; */
    padding: 5px;
    padding-bottom: 2em;
    background-color: #ffffff;
    margin: auto;
    padding-top: 5px;
  }

  .start-btn {
    margin: auto;
    margin-top: 3em;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #9c13be;
    text-align: center;
  }

  .intro-box {
    width: 100%;
    padding: 15px;
    margin-top: 1em;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .intro-div {
    width: 100%;
    padding: 15px;
    margin-top: 1em;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .housing {
    display: grid !important;
    grid-template-columns: 1fr !important;
    gap: 15px;
  }

  .pagination-circle {
    width: 20px;
    height: 20px;
    margin: 3px;
  }

  .side-oval-shape {
    display: none;
  }

  .content-area {
    padding: 15px;
    margin: auto;
  }

  .header {
    width: 100%;
    height: 140px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 1em;
    border-bottom: 2px solid #dddddd;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    align-items: left;
    font-size: 16px;
    row-gap: 10px;
  }

  .pagination {
    display: flex;
    margin-top: 2em;
    gap: 20px;
    row-gap: 15px;
    margin-left: 20px;
  }

  .quiz-container .questions {
    padding:  10px;
  }

  .que-options {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-bottom: 9px;
    margin-left: 5px;
  }

  input[type="radio"] {
    margin-inline-start: 0;  /* Adjusted to prevent large negative margin */
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    text-align: left;
    margin-left: -11em;
  }

  .options {
    font-size: 16px;
    align-items: left;
    justify-content: left;
    margin-left: -10em;
  }



  .bottom-buttons {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
    padding-bottom: 1em;
    margin-left: 0;  /* Adjusted to prevent large negative margin */
    align-items: center;
  }

  .testMainPage {
    width: 100%;
    height: 100vh;
    /* margin-top: 4.35em; */
    /* padding-bottom: 6em; */
    padding-bottom: 20px;
    background-color: #999898;
  }
}
