/* aboutus.css */

/* Style for the main container */
.about-us-container {
  padding: 20px;
  margin: 0 auto;
}

.about-section {
  width: 100%;
  padding: 40px 20px; /* Adjusted padding for responsiveness */
  background-color: #F5F5F5;
}

.about-section .section-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #09070A;
}

.about-section .section-content {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  color: #09070A;
}

.about-section2 {
  width: 100%;
  padding: 40px 20px; /* Adjusted padding for responsiveness */
  background-color: #F5F5F5;
}

.about-section2 .section-heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #09070A;
}

.team__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
  gap: 20px;
}

@media (min-width: 768px) {
  .team__wrapper {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

@media (min-width: 1024px) {
  .team__wrapper {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for desktops */
  }
}

.team__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FEFEFE;
  border: 0.5px solid #A1A1A1;
  border-radius: 10px;
  padding: 50px; /* Adjusted padding for responsiveness */
  cursor: pointer;
  transition: all 0.3s ease;
}

.team__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.team__img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.team__details h4 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #9C13BE;
}

.team__details {
  text-align: center;
}

.team__details .description {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 540;
  color: #666;
}
