
.contact-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:#D9D9D9;
  }
  
  .contact-container {
    display: flex;
    align-items: center;
    margin-top: 50px; /* Adjust the margin bottom as needed */
    margin-bottom: 20px;
    background: #fff;
  }
  
  .contact-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .contact-form {
    width: 700px;
    height: 500px;
    top: 48px;
    left: 243px;
    padding: 60px 0px 0px 0px;
    /* background: #FFFFFF; */
  }
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color:#9C13BE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #9C13BE;
  }
  
  /* .footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f4f4f4;
  } */
  