* {
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
} */

.contact-us-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr; /* Single column layout by default */
  gap: 20px; /* Add some spacing between elements */
  padding: 20px;
  background-color: #fff;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 100%; /* Adjust container width */
  max-width: 600px; /* Set max-width */
                   
}

/* .contact-info {
  background-color: #fff;
} */
.message{
  font-size: 20px;
  font-weight: 700;
  color: #9C13BE;
}
.contact-info h4 {
  color: #9C13BE;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
}

.contact-image {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 20px;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: #09070A;
  font-family: Source Sans Pro;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: none;
  border-bottom: 2px solid #9C13BE;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 3px solid #9C13BE;
  border-radius: 5px;
  height: 150px;
}

button {
  background-color: #9C13BE;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9C13BE;
}

/* Media Queries */
@media (min-width: 768px) {
  .contact-us-container {
    grid-template-columns: 1fr 1fr; /* Two-column layout on larger screens */
    justify-items: start; /* Align content to the start (left) */
    align-items: unset; /* Reset vertical alignment */
  }

  .contact-info {
    order: 2; /* Change the order of contact info section */
  }

  .contact-image {
    order: 1; /* Change the order of contact image section */
  }

  button {
    margin-left: 0; /* Center button horizontally on small screens */
  }
}
