body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ccc; /* Grey background */
}

.coming-soon-container {
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr; /* Single column layout by default */
  gap: 30px; /* Add some spacing between elements */
  padding: 20px;
  background-color: #fff;
  margin-top: 80px;
  margin-bottom: 10px;
  width: 100%; /* Adjust container width */
  max-width: 450px; /* Set max-width */
  justify-items: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.content {
  background-color: transparent; /* White container background */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  color: #9C13BE; /* Dark text color */
  margin-top: 80px;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 70px;
  color: #100712; /* Medium dark text color */
}

.back-to-home-button {
  background-color: #9C13BE;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-home-button:hover {
  background-color: #7F0D99; /* Darker shade of the button color on hover */
}

.back-to-home-button:active {
  background-color: #958b97; /* Even darker shade of the button color when pressed */
}

@media screen and (max-width: 768px) {
  .coming-soon-container {
    margin-top: 50px;
    padding: 10px;
  }
}
