body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F5F5F5; /* Light grey background */
}

.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.content {
  background-color: #fff; /* White container background */
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #9C13BE; /* Dark purple text color */
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #333; /* Dark grey text color */
  margin-bottom: 20px;
}

.back-to-home-button {
  background-color: #9C13BE;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-home-button:hover {
  background-color: #7F0D99; /* Darker shade of the button color on hover */
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  p {
    font-size: 16px;
  }
}

