.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-slide.active {
  opacity: 1;
  visibility: visible;
  position: relative; 
}

.carousel-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.carousel-description {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}



.nav-button.prev {
  left: 0dvh;
  padding: 0%;
}

.nav-button.next {
  right: -5dvh;
  padding: 0%;
}

.button-container {
  margin-top: 80%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0%;
}

.indicator-btn {
  border: none;
  background-color: #b154b6;
  color: #333;
  padding: 0px;
  margin:  0px;
  cursor: pointer;
}

.indicator-btn.active {
  background-color: #350338; 
}